<app-messages></app-messages>
<div class="cateForm">
  <h1 class="marginForm nameCatego">Categoria</h1>
  <form [formGroup]="form" class="cateForm_form">
      <input type="text" id="name" placeholder="Nome da Categoria" formControlName="title" #title>
      <app-hint inputLength="{{title.value.length}}"></app-hint>
      <div class="buttonCatego">
          <app-button tipo="cancelar" nome="Cancelar" (clickButton)="onCancel()"></app-button>
          <app-button tipo="criar" nome="Criar" (clickButton)="onSubmit()"></app-button>
      </div>
  </form>
</div>
