<div class="content">
  <div class="new">
    <p class="newTitle">5 Ways To Make Your Bbq A Memorable Family Event</p>

    <p class="newDate">24 Jun, 25</p>
  </div>

  <div class="new">
    <p class="newTitle">5 Ways To Make Your Bbq A Memorable Family Event</p>

    <p class="newDate">24 Jun, 25</p>
  </div>

  <div class="new">
    <p class="newTitle">5 Ways To Make Your Bbq A Memorable Family Event</p>

    <p class="newDate">24 Jun, 25</p>
  </div>

  <div class="new">
    <p class="newTitle">5 Ways To Make Your Bbq A Memorable Family Event</p>

    <p class="newDate">24 Jun, 25</p>
  </div>
</div>
