main{
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: block;
}

@media screen and (min-width: 950px){
  main{
    display: flex;
    justify-content: center;
  }
}
