.alerta{
  padding: 25px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 18px;
}

.err{
  border-color: #e8273b;
  color: #FFF;
  background-color: #ed5565;
}

.sucesso {
  border-color: #87c940;
  color: #FFF;
  background-color: #a0d468;
}
